/* You can add global styles to this file, and also import other style files */
/* Isso remove o branco das laterais e do fundo total da página */
html, body {
    margin: 0;
    padding: 0;
    background-color: #121417 !important; /* A mesma cor do seu fundo dark */
    min-height: 100vh;
}