body {
  margin: 0;
  padding: 0;
  background-color: #121214 !important; 
  color: #ffffff !important;
  font-family: 'Inter', sans-serif;
}

.text-muted, .text-secondary, span, p, .btn-paginacao {
  color: #a1a1aa !important; 
}

.text-white, h3, b, strong, .fw-bold {
  color: #ffffff !important; 
}

.table {
  --bs-table-bg: transparent !important;
  --bs-table-color: #ffffff !important;
  --bs-table-border-color: #27272a !important;
}